# Exercise 1 - pandas repetition (alternative)

In [28]:
# 0. Working with national test data

# a) Start with reading in the file riket2023_åk9_np.xlsx and the sheets for the different subjects.

import pandas as pd 

filepath = "data/riket2023_åk9_np.xlsx"
data = pd.ExcelFile(filepath)
df = pd.read_excel(data, skiprows=8, sheet_name=None)

print(f"Subjets:", df.keys())

Subjets: dict_keys(['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk', 'Rapportbeskrivning och def.'])

In [29]:
df["Matematik"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [30]:
df["Engelska"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [31]:
df["Svenska"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

In [7]:
df["Svenska som andraspråk"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..

In [43]:
# b) Change the column names to get something similar to this:

def new_columns(file):
    file.rename(columns={
        "Riket": "Plats",
        "Typ av huvudman": "Huvudman",
        "Totalt": "Totalt (A-F)",
        "Flickor": "Flickor (A-F)",
        "Pojkar": "Pojkar (A-F)",
        "Totalt": "Totalt (A-E)",
        "Flickor": "Flickor (A-E)",
        "Pojkar": "Pojkar (A-E)",
        "Totalt": "Totalt (poäng)", 
        "Flickor": "Flickor (poäng)", 
        "Pojkar": "Pojkar (poäng)"
    }, inplace=True)
    return file

sheet = new_columns(file)
for sheet, file in df.items():
    print(sheet, file)

Engelska    Plats    Huvudman  Totalt (poäng)  Flickor (poäng)  Pojkar (poäng)  \
0  Riket    Samtliga          106941            51864           55077
1  Riket    Kommunal           84310            40675           43635
2  Riket     Enskild           22582            11165           11417
3  Riket  Skolverket              49               24              25

   Totalt   Flickor   Pojkar   Totalt    Flickor    Pojkar
0     97.0      97.1     97.0      15.7       15.8      15.7
1     96.6      96.6     96.6      15.4       15.5      15.4
2     98.7      98.8     98.7      16.9       17.0      16.8
3    100.0     100.0    100.0      18.5       18.9      18.2
Matematik    Plats    Huvudman  Totalt (poäng)  Flickor (poäng)  Pojkar (poäng) Totalt   \
0  Riket    Samtliga          106766            51548           55218    89.1
1  Riket    Kommunal           84163            40386           43777    88.1
2  Riket     Enskild           22553            11137           11416    92.9
3  Riket  Skolverket              50               25              25    ~100

  Flickor  Pojkar   Totalt    Flickor    Pojkar
0     88.7    89.5      11.9       11.8      12.0
1     87.7    88.5      11.6       11.5      11.7
2     92.2    93.5      13.0       12.8      13.1
3     ~100    ~100      14.1       13.5      14.7
Svenska    Plats    Huvudman  Totalt (poäng)  Flickor (poäng)  Pojkar (poäng)  \
0  Riket    Samtliga           93225            45800           47425
1  Riket    Kommunal           72771            35484           37287
2  Riket     Enskild           20414            10297           10117
3  Riket  Skolverket              40               19              21

   Totalt   Flickor   Pojkar   Totalt    Flickor    Pojkar
0     96.1      97.9     94.4      13.6       14.5      12.7
1     95.7      97.6     93.8      13.3       14.3      12.4
2     97.6      98.7     96.6      14.4       15.2      13.5
3    100.0     100.0    100.0      15.0       15.9      14.2
Svenska som andraspråk    Plats    Huvudman Totalt (poäng) Flickor (poäng) Pojkar (poäng) Totalt   \
0  Riket    Samtliga          14092            6447           7645    77.7
1  Riket    Kommunal          11963            5495           6468    75.9
2  Riket     Enskild           2122             949           1173    87.7
3  Riket  Skolverket             ..              ..             ..      ..

  Flickor  Pojkar  Totalt   Flickor   Pojkar
0     81.6    74.3      9.4      10.2      8.7
1       80    72.4        9       9.9      8.3
2     90.9    85.2     11.1        12     10.4
3       ..      ..       ..        ..       ..
Rapportbeskrivning och def.    Observera att om resultatuppgiften baseras på färre än 10 elever, dubbelprickas den. Då visas två prickar (..) istället för utfall.  \
0   Om antalet flickor eller pojkar är färre än 10...
1   Observera att om antalet elever med provbetyg ...
2   Om en andelsuppgift för antingen pojkar eller ...
3   Om data saknas visas en prick (.) istället för...
4
5                      Antal elever med provbetyg A-F
6                                                 NaN
7                         Andel (%) med provbetyg A-E
8                                                 NaN
9                           Genomsnittlig betygspoäng
10                                                NaN
11                                                NaN
12  I svenska/svenska som andraspråk och engelska ...
13  Resultaten på de olika delarna vägs sedan samm...
14  I matematik ges inga delprovsbetyg. För att få...

    Unnamed: 1  Unnamed: 2                                         Unnamed: 3
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                                NaN
3          NaN         NaN                                                NaN
4          NaN         NaN                                                NaN
5          NaN         NaN  Antal elever som har avslutat årskurs 9 med el...
6          NaN         NaN                                                NaN
7          NaN         NaN  Andel elever som fått betyg A-E av dem som del...
8          NaN         NaN                                                NaN
9          NaN         NaN  Betygspoängen utgörs av ett genomsnitt av bety...
10         NaN         NaN                                                NaN
11         NaN         NaN                                                NaN
12         NaN         NaN                                                NaN
13         NaN         NaN                                                NaN
14         NaN         NaN                                                NaN